body{
  background-color:#21d47b;

  }
h1{
  padding: 0.5em;
  background-color: #c9f7a4;
  border-bottom: solid 10px rgb(22, 104, 12)
}
span{
  background-color:aqua;
  display: block;
}
div.day{
  background-color:#03b95e
}
div.day{
  line-height:25px;
}
div.menu{
  line-height:0.5;
}
#day1{
  background-color: #cff0779c;
}
#day2{
  background-color: #cff0779c;
}
#day3{
  background-color: #cff0779c;
}
#day4{
  background-color: #cff0779c;
}
#day5{
  background-color: #cff0779c;
}